* {
    box-sizing: border-box;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
    color: black;
    display: block;
    white-space: pre-wrap 
}